.mention {
    font-family: 'Hind Madurai', sans-serif;
    color: #555B6E;
    font-size: 25px;
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 200px;
}

.mention {
    font-size: 20px;
}