@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&display=swap');

html {
    background-color: #FAF9F9;
    overflow-x: hidden;
    width: 100%;
}

html, body {
    overflow-x: -moz-hidden-unscrollable;
}

body {
    margin: 0;
    background: #faf9f9;
}

body > div.join > li{
    list-style: none;
}
.join button{
    display: block;
    background-color: #d65c58;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 30px;
    border-color: #d65c58;
    color: #FAF9F9;
    border-radius: 80px;
    outline: 0;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    padding: 40px 80px 40px 80px;
    margin-top: 150px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}
.join .change:hover{
    background-color: #FAF9F9;
    border: 1px solid #d65c58;
    color: #d65c58;
    transition: 0.3s all ease-in-out;
}

.trait {
    margin: auto;
    width: 80%;
    margin-left: 18%;
    border-bottom: solid 1px #d65c58;
}

.mail_us {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align-last: left;
}

#mail {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 25px;
    border-radius: 10px;
    border-color: #ABC7C1;
    background-color: #ABC7C1;
    color: #FAF9F9;
    outline: 0;
    width: 50%;
}

.title {
    display: block;
    margin-left: 18%;
    font-family: 'Hind Madurai', sans-serif, bold;
    font-size: 75px;
    margin-top: 330px;
    width: max-content;
}

.title_one {
    display: inline-block;
    color: #555B6E;
    width: 49%;
}

.title_two {
    display: inline-block;
    color: #BEE3DB;
}

.title_other {
    font-family: 'Hind Madurai', sans-serif, bold;
    font-size: 30px;
    position: absolute;
}

.title_one_other {
    color: #555B6E;
    position: absolute;
    margin-left: 260px;
    margin-top: -50px;
}

.title_two_other {
    color: #BEE3DB;
    position: absolute;
    margin-left: 370px;
    margin-top: -50px;
}

.tagline {
    font-family: 'Hind Madurai', sans-serif;
    color: #555B6E;
    font-size: 60px;
    position: relative;
    margin-top: -415px;
    margin-left: 18%;
}

.logo {
    position: relative;
    left: 80%;
    top: -329px;
}

.with_us {
    color: #FAF9F9;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 3em;
    height: auto;
    display: block;
    width: 100%;
    position: relative;
    z-index: 2;
    text-align: center;
    margin-bottom: 50px;
}

.illustrations {
    width: 100%;
    display: block;
}
body > div.function > div.illustrations > img{
    height: auto;
    display: block;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s all ease-in-out;
    transform: scale(1);
}

body > div.function > div.illustrations > img:hover{
    height: auto;
    display: block;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s all ease-in-out;
    transform: scale(1.04);
}

.function{
    margin-top: 400px;
}
.illus {
    font-family: 'Hind Madurai', sans-serif;
    color: #FAF9F9;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    align-items: center;
}

.illus_one{
    color: #FAF9F9;
    display: inline-block;
    position: relative;
    z-index: 2;
    width: 33%;
    text-align: center;

}

.concept {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 50px;
    color: #555B6E;
    margin-top: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}

.pictures {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.text_one {
    padding-top: 20px;
    padding-left: 200px;
    padding-right: 775px;
}

.text_two {
    margin-top: 925px;
    margin-left: 775px;
    margin-right: 150px;
}

.text_three {
    padding-top: 1800px;
    padding-left: 200px;
    padding-right: 775px;
}

.text_four {
    margin-top: 2775px;
    margin-left: 750px;
    margin-right: 175px;
}

.text_five {
    margin-top: 3650px;
    padding: 250px;
}

.text_one, .text_two, .text_three, .text_four, .text_five   {
    position: absolute;
    font-family: 'Hind Madurai', sans-serif;
    color: #555B6E;
    text-align: center;
}

.text_one p, .text_two p, .text_three p, .text_four p, .text_five p {
    font-size: 30px;
}

.text_one h2, .text_two h2, .text_three h2, .text_four h2, .text_five h2  {
    font-size: 45px;
}

.bow_two {
    position: absolute;
    width: 2000px;
    top: 6550px;
    z-index: 1;
}

.team {
    display: block;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 50px;
    color: #FAF9F9;
    width: 100%;
    position: relative;
    z-index: 2;
    margin-top: 225px;
}

.team > h3 {
    text-align: center;
}

.description {
    display: block;
    font-family: 'Hind Madurai', sans-serif;
    color: #BEE3DB;
    text-align: center;
    font-size: 25px;
    position: relative;
    z-index: 2;
}

.description p {
    display: block;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.mates {
    position: relative;
    z-index: 2;
}

.mates>ul{
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    height: auto;
    align-items: center;
    margin-top: 80px;

}

.mates>ul>li {
    display: inline-block;
    width: 33%;
}

.mates>ul>li>img {
    display: block;
    width: max-content;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.mates>ul>li>p {
    display: block;
    text-align: center;
    color: #FAF9F9;
    font-size: 18px;
}

.contact {
    display: block;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    background-color: #ABC7C1;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 23px;
    border-color: #d65c58;
    border-radius: 40px;
    outline: 0;
    padding: 20px;
    margin-top: 40px;
    position: relative;
    z-index: 2;
    transition: 0.3s all ease-in-out;
}

.contact:hover, .contact a:hover {
    background-color: #BEE3DB;
    transition: 0.3s all ease-in-out;
}

.contact a {
    text-decoration: none;
    color: #555B6E;
}

.bow_one {
    top: 740px;
    position: absolute;
    z-index: 1;
    width: 2000px;
}

.arrow {
    display: block;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;
    height: auto;
    transition: 0.3s all ease-in-out;
    transform: scale(1);
    opacity: 0.4;
}

.arrow:hover {
    transition: 0.3s all ease-in-out;
    transform: scale(1.08);
    opacity: 1;
}

.legal {
    display: block;
    font-family: 'Hind Madurai', sans-serif;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    align-items: center;
    width: 80%;
    height: auto;
    position: relative;
    z-index: 2;
}

.legal a {
    display: block;
    width: 60%;
    margin-top: 380px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: #d65c58;
    transition: 0.3s all ease-in-out;
    transform: scale(1);
    opacity: 0.4;
}

.legal a:hover {
    transition: 0.3s all ease-in-out;
    transform: scale(1.08);
    opacity: 1;

}

.mention {
    font-family: 'Hind Madurai', sans-serif;
    color: #555B6E;
    font-size: 20px;
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 200px;
}

.write ul li {
    list-style: none;
    text-decoration: none;
    border-radius: 50px;
    font-family: 'Hind Madurai', sans-serif;
}

.Explication{
    margin-left: 0;
    margin-right: 0;
    width: 100%;

}
.explication1 {
    height: auto;
    display: block;
    width: 70%;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: #bee3db;
    margin-bottom: 300px;
}

.explication2 {
    height: auto;
    display: block;
    width: 70%;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 300px;
    background-color: #bee3db;
}

.explication1 .contenu1{
    display: inline-block;
    vertical-align: top;
    width: 49%;
    position: initial;
    left: 0;
}

.explication1 img{
    display: inline-block;
    width: 50.3%;
    height: auto;
    vertical-align: top;
    position: initial;
    left: 0;
    right: 0;
}
.explication1 h3, .explication2 h3, .explication3 h3, .explication4 h3, .explication5 h3{
    font-size: 50px;
    width: 100%;
    display: block;
    text-align: center;
}

.explication1 p, .explication2 p, .explication5 p{
    font-family: 'Hind Madurai', sans-serif;
    display: block;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

.explication2 .contenu2{
    display: inline-block;
    vertical-align: top;
    width: 49%;
    height: auto;
    font-size: 30px;
    background-color: #bee3db;

}
.explication2 img{
    vertical-align: top;
    display: inline-block;
    width: 50.3%;
    height: auto;
    position: initial;
}

.explication5, .contenu5{
    background-color: #BEE3DB;
    width: 70%;
    height: 595px;
    position: relative;
    left: 15%;
}

.contenu5 p {
    font-size: 40px;
}

.contenu5 p, .contenu5 h3 {
    top: 20px;
    padding-top: 50px;
}

.contenu1, .contenu2, .contenu3, .contenu4, .contenu5 {
    font-family: 'Hind Madurai', sans-serif;
    color: #555B6E;
}

@media (max-width: 1700px) {
    .bow_two {
        top: 6340px;
    }
}

@media (max-width: 1600px) {
    .bow_two {
        top: 5988px;
    }
}

@media (max-width: 1540px) {
    .bow_two {
        top: 6030px;
    }
    .explication1 img{
        width: 50.2%;
    }
    .explication2 img{
        width: 50.2%;
    }
    .explication1 .contenu1, .explication2 .contenu2{
        font-size: 24px;
    }

    .explication5 .contenu5 p{
        font-size: 35px;
    }

    .explication1 h3, .explication2 h3{
        font-size: 46px;
    }
}

#button_other {
    font-size: 35px;
    background-color: #555B6E;
    border-color: #555B6E;
}

body > div.arrow > a > img{
    margin-top: 50px;
}